<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquarium.mapper.SysStaffMapper">

    <select id="findManagedVenue" resultType="java.lang.Integer">
        SELECT venue_id
        FROM sys_staff_venue
        WHERE staff_id = #{staffId}
    </select>
    <select id="findManagedVenueInterIds" resultType="java.lang.Integer">
        SELECT id
        FROM sys_staff_venue
        WHERE staff_id = #{staffId}
    </select>
</mapper>
