<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aquarium.mapper.SysVenueMapper">

    <select id="findAdministrator" resultType="java.lang.Integer">
        SELECT staff_id
        FROM sys_staff_venue
        WHERE venue_id = #{venueId}
    </select>
    <select id="findAdministratorInterIds" resultType="java.lang.Integer">
        SELECT id
        FROM sys_staff_venue
        WHERE venue_id = #{venueId}
    </select>
    <select id="findBindDevicesByVenueId" resultType="com.aquarium.pojo.SysDevice">
        SELECT *
        FROM sys_device
        WHERE venue_id IN (SELECT venue_id
                           FROM sys_venue
                           WHERE venue_id = #{venueId})
    </select>
    <select id="findVenueList" resultType="com.aquarium.pojo.SysVenue">
        SELECT *
        FROM sys_venue
    </select>
</mapper>
